

.TicketNum {
    background: lightblue;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 0.2em;
}